/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
}*/

/*header*/

header {
  background-color: #004653;
  font-size: 20px;
  color: #fff;
  line-height: 80px;
  font-family: "微软雅黑";
  background-image: url("../img/logo.png");
  background-size: auto 60%;
  background-position: 20px;
  background-repeat: no-repeat;
}
header .logo {
  height: 80px;
  width: 200px;
  float: left;
  background-size: 100% 100%;
  /*background-image: url("../img/logo.png");*/
}

/*nav*/

nav {
  background-color: rgba(0, 102, 255, 1);
}
nav span.glyphicon {
  font-size: 20px;
  line-height: 25px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
css for AMap

*/

.amap-logo {
  width:0;
  height:0;
  right: 0 !important;
  left: auto !important;
  display: none;
}

.amap-copyright {
  width:0;
  height:0;
  right: 70px !important;
  left: auto !important;
}

#mapChart{
    height:100%
}
.amap-copyright {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
/*.my-map { margin: 0 auto; width: 600px; height: 600px; }*/
/*.my-map .icon { background: url(../img/marker.png) no-repeat; }*/
/*.my-map .icon-cir { height: 31px; width: 28px; }*/
/*.my-map .icon-cir-blue { background-position: -11px -55px; }*/
/*.my-map .icon-cir-green { background-position: -11px -154px; }*/
/*.my-map .icon-cir-red { background-position: -11px -154px; }*/
.my-map .icon {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}
.my-map .icon-cir { height: 10px; width: 10px; }
.my-map .icon-cir-blue {
  background-color: blue;}
.my-map .icon-cir-green {
  background-color: green; }
.my-map .icon-cir-red {
  background-color: red; }
.amap-container{height: 100%;}
/*.mapChar{padding-left: 0;padding-right: 0;}*/
.rowMap {
  margin:30px 0 30px 0;
}
.chartsMap{
  margin-left:-15px;
}
#chart1{
  margin-bottom:20px;
}

#rlg td select .ng-binding {
  display: none;
}
