.amap-logo {
    width: 0;
    height: 0;
    right: 0 !important;
    left: auto !important;
    display: none;
}

.amap-copyright {
    width: 0;
    height: 0;
    right: 70px !important;
    left: auto !important;
}

.amap-copyright {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}

.amap-marker-label {
    background-color: #afa;
    color: black;
}

.icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.icon-cir {
    height: 14px;
    width: 14px;
}

.icon-cir-blue {
    background-color: blue;
}

.icon-cir-green {
    background-color: green;
}

.icon-cir-red {
    background-color: red;
}

.amap-container {
    height: 100%;
}

/*.mapChar{padding-left: 0;padding-right: 0;}*/
.rowMap {
    margin: 15px 0 15px 0;
}

.chartsMap {
    margin-left: -15px;
}

.my-map {
    /*margin-left: 15px;*/
    height: 600px;
}

#chart1 {
    margin-bottom: 20px;
}

.info-title {
    color: white;
    font-size: 14px;
    background-color: blue;
    line-height: 26px;
    padding: 0px 0 0 6px;
    font-weight: lighter;
    letter-spacing: 1px
}

.info-content {
    font: 12px Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial;
    padding: 4px;
    color: #666666;
    line-height: 23px;
}

.info-content img {
    float: left;
    margin: 3px;
}

.returnBtn {
    position: relative;
    left: 0px;
    top: 10px;
    z-index: 999;
}
.devicesHolder {
    height: 92px;
    overflow-y: auto;
}
