<div ng-controller="ChartsCtrl" class="row">
    <button ng-click="showMeasurement()">测量项目</button>
    <highchart id="chart1" config="highchartsNG"></highchart>
    <div echarts="DISTRIBUTION_ID" config="distribution" class="col-sm-12" echarts-dimension="distribution.dimension"></div>
</div>
