<div class="" ng-controller="MainCtrl as vm" ng-if="c8y.user">
  <header class="text-center">
    <a href="#/">
      <div class="logo"></div>
    </a>
    智慧照明演示平台
  </header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">展开导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="text-center">
          <a href="#/">
            <span class="glyphicon glyphicon-blackboard"></span><br>
            <span class="glyphicon-class">大地图</span>
          </a>
        </li>
        <li class="text-center">
          <a href="#/t1">
            <span class="glyphicon glyphicon-bell"></span><br>
            <span class="glyphicon-class">报警列表</span>
          </a>
        </li>
        <li class="">
          <a href="#/t2" ng-click="resetView('t2')">
            <span class="glyphicon glyphicon-align-justify"></span><br>
            <span class="glyphicon-class">设备列表</span>
          </a>
        </li>
        <li class="">
          <a href="#/t3">
            <span class="glyphicon glyphicon-list-alt"></span><br>
            <span class="glyphicon-class">操作规则</span>
          </a>
        </li>
        <!-- <li class="">
          <a href="#/t4">
            <span class="glyphicon glyphicon-stats"></span><br>
            <span class="glyphicon-class">统计分析</span>
          </a>
        </li> -->
        <!-- <li class="">
          <a href="#/t5">
            <span class="glyphicon glyphicon-cog"></span><br>
            <span class="glyphicon-class">系统设置</span>
          </a>
        </li> -->
        <!-- <li class="">
          <a href="#/t6">
            <span class="glyphicon glyphicon-comment"></span><br>
            <span class="glyphicon-class">用户交流</span>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>
  <div class="row main" ng-switch="!!main.currentSection">
    <div ng-switch-when="true">
      <eg-section service="{{main.currentSection}}" filter="main.filter" refresh="main.refresh">
        <ng-include src="['views/', main.currentSection, '.html'].join('')">
        </ng-include>
      </eg-section>
    </div>
    <div ng-switch-when="false">
      <div class="col-sm-12 bg-primary">
        <div class="row rowMap">
          <div ng-controller="mapCtrl" class="mapChar my-map">
            <div id="amap-container" class="col-lg-9 col-md-8 ">
                <div class="returnBtn">
                    <button type="button" name="button" class="btn btn-sm btn-default" ng-click="backup()" ng-disabled="locationData.mapSize==1">返回上一层</button>
                </div>

            </div>
            <div class="col-lg-3 col-md-4">
                <p>群组详情</p>
                <p>名称：{{currentData[locationData.mapSize-1].name||"全国"}}</p>
                <p>
                    当前规则：
                    {{locationData.operations[currentData[locationData.mapSize-1].currentOperationSetting-1]||"当前无规则"}}
                    <button type="button" name="button" class="btn btn-danger" ng-click="editOperation(currentData[locationData.mapSize-1].id)" ng-disabled="!currentData[locationData.mapSize-1].name">修改</button>
                </p>
                <!-- <p ng-show="checkingResults.data.show">
                    {{checkingResults.data.text}}
                </p> -->
                <p>总设备数：{{checkingResults.data.deviceCount||"0"}}</p>
                <p>在线设备：{{checkingResults.data.AVAILABLE||"0"}}</p>
                <p>离线设备：{{checkingResults.data.UNAVAILABLE||"0"}}</p>
                <p>测试设备：{{checkingResults.data.testDevice||"0"}}</p>
                <!-- <p>{{checkingResults}}</p> -->
                <!-- <p>{{currentData}}</p> -->
                <div echarts="DISTRIBUTION_ID" config="distribution" class="col-sm-12" echarts-dimension="distribution.dimension"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="col-sm-12 bg-danger" ng-controller="treeCtrl">
          <div
            data-angular-treeview="true"
            data-tree-id="abc"
            data-tree-model="treedata"
            data-node-id="id"
            data-node-label="label"
            data-node-children="children" >
          </div>
        </div>

      </div> -->
      <div class="col-lg-9 col-md-8 col-sm-12 bg-success">
        <table class="table">
          <thead>
            <th>
              报警时间
            </th>
            <th>
              设备
            </th>
            <th>
              群组
            </th>
            <th>
              报警内容
            </th>
            <th>
              处理人
            </th>
            <th>
              处理状态
            </th>
            <th>
              处理时间
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="p in alarmData">
              <td>{{p.time}}</td>
              <td>{{p.source.name}}</td>
              <td>{{p.type}}</td>
              <td>{{{"No data received from device within required interval.":"在指定时间间隔内没有从设备接到数据"}[p.text]||p.text}}</td>
              <td>{{}}</td>
              <td>{{{"ACTIVE":"未处理"}[p.status]}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
