<div class="container-fluid" ng-controller="AnotherCtrl as vm">


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">报警详细信息</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li>设备名称:{{alarmData.source.name}}</li>
            <li>设备ID:{{alarmData.source.id}}</li>
            <li>报警时间:{{alarmData.time}}</li>
            <li>报警内容:在指定时间间隔内没有从设备接到数据</li>
            <li>警报级别:{{alarmText}}</li>
            <li>警报处理:{{statusText}} <button ng-click="handle(alarmData.id)">点击处理</button> </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <!--<button type="button" class="btnds btn-primary">保存</button>-->
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <tr>
      <th>设备名称</th>
      <th>设备ID</th>
      <th>报警时间</th>
      <th>报警类别</th>
      <th>报警内容</th>
      <th>警报级别</th>
      <th>详细信息</th>
    </tr>
    <tr ng-repeat="i in alarms">
      <td>{{i.source.name}}</td>
      <td>{{i.source.id}}</td>
      <td>{{i.time}}</td>
      <td>{{i.type}}</td>
      <td>{{i.text}}</td>
      <td>{{i.severity}}</td>
      <td><a href="javascript:void (0)" data-toggle="modal" data-target="#myModal" ng-click="particular(i.id)">点击查看</a></td>
    </tr>
  </table>
  <!-- Modal -->

</div>
