<div class="well" ng-controller="AnotherCtrl as vm">
  <table class="table">
      <tr>
          <th>设备名称</th>
          <th>设备iccid</th>
          <!--<th>测试id</th>-->
          <th>设备型号</th>
          <th>额定功率</th>
          <th>设备状态</th>
          <th>设备群组</th>
          <!--<th>当前亮度</th>-->
          <th>单灯控制</th>
      </tr>
      <tr ng-repeat="data in devices" id="rlg">
          <td>{{data.name}}</td>
          <td>{{data.c8y_Mobile.iccid}}</td>
          <!--<td>{{data.id}}</td>-->
          <td>{{data.c8y_Hardware.model}}</td>
          <td>{{data.c8y_Hardware.serialNumber}}</td>
          <td>{{data.c8y_Availability.status == 'AVAILABLE'? '在线':'不在线'}}</td>
          <td>{{data.assetParents.references[0].managedObject.name}}</td>
          <!--<td>{{data.com_gdlk_smartLED_PWMcontrol_setting.PWM1}}</td>-->
          <!--<td><a href="javascript:void (0)" data-toggle="modal" data-target="#myModal"  ng-click="deviceFn(data.id)">点击设置</a></td>-->
          <td>
              <select ng-model="optionData" ng-options="o.power for o in smart" ng-change="deviceFn(optionData,data.id,data.assetParents.references[0].managedObject.id)">
                  <option value="">{{data.com_gdlk_smartLED_PWMcontrol_setting.Mode == 888 ?data.com_gdlk_smartLED_PWMcontrol_setting.PWM1:'disabled'}}</option>
              </select>
          </td>
      </tr>
  </table>
</div>
