<div class="" ng-controller="OperationCtrl as vm">
  <div class="" ng-if="!vm.data.currentOperation">
    <p>
      您尚未选择群组！
    </p>
    请从大地图选中群组后，从右侧规则修改按钮进入规则列表
  </div>
  <div class="" ng-if="vm.data.currentOperation">
    <p class="text-danger">组名</p>
    <p>{{vm.data.name}}</p>
    <p class="text-danger">
        当前规则
        <button type="button" class="btn btn-danger" name="button" ng-click="vm.fns.delRule()">删除当前规则</button>
    </p>
    <p>{{vm.data.operations[vm.data.currentOperation-1]}}</p>
    <p class="text-danger">可选规则列表</p>
    <div class="well row" ng-repeat="p in vm.data.operationList">
        <p>
            <input type="radio" name="currentOperation" value="{{p.Mode}}" ng-model="vm.data.currentOperation" ng-checked="p.Mode==vm.data.currentOperation"> {{vm.data.operations[$index]}}
            <span>
                <button type="button" name="button" class="btn btn-default" ng-click="vm.fns.edit($index+1,$index)" ng-disabled="{{p.Mode==4}}">修改</button>
            </span>
        </p>
        规则详情：
        <p>{{vm.data.operationsDetail[$index]}}</p>
        <div ng-if="p.Mode!=4" echarts="DISTRIBUTION_IDS[$index]"config="distributions[$index]" class="col-sm-4" echarts-dimension="'16:9'"></div>
    </div>
    <div class="">
        <button type="button" name="button" class="btn btn-info" ng-click="vm.fns.save(vm.data.currentOperation)">提交</button>
    </div>
  </div>

</div>

<script type="text/ng-template" id="popupTmpl.html">
    <!-- <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->
    <h1>修改规则</h1>
    <div>
        <p ng-repeat="(key,value) in newOperation.data" class="form-group" ng-show="{{!(
            key=='Mode'
            ||
            (newOperation.data['Mode']==2&&(key=='PWM4'||key=='T3'))
            ||(newOperation.data['Mode']==3&&key!='PWM1')
            )}}">
            <label>{{key}}</label>
            <input value="{{value}}" ng-model="newOperation.data[key]" class="form-control">
        </p>
        <p>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeThisDialog()">取消</button>
            <button type="button" class="btn btn-primary" ng-click="saveNewOperation(ngDialogData.ngDialogId,ngDialogData.index)">保存</button>
        </p>
    </div>

</script>
